:root{
    --c-background:#FFFFFF;
    --c-title:#000000;
    --c-backgroundmain:#F6F8F9;
    --c-text:#444851;
    --c-addt:#47ADF1;
    --c-editorial:#45ABEA;
    --c-recruiting:#65C0A9;
    --c-q1:#9C72E4;
    --c-uncheck:#EA5047;
    --c-check:#64C0A9;
    --c-mobile:#F29E33;
    --c-website:#D863A1;
    --c-sales:#B0C926;
    --c-adds:#CDD3D7;
    --c-addtexts:#EEF8FD;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial',  sans-serif;
}

body{
    background-color: var(--c-backgroundmain);
}

header{
    background-color: var(--c-background);
}

header>img{
    height: 3rem;
    margin: 2rem 1rem;
    vertical-align: middle;
}

#title{
    font-size: 2.3rem;
    vertical-align: middle;
}

main{
    background-color: var(--c-backgroundmain);
    margin-top: 3rem;
}

.container{
    width: 70%;
    margin: auto;
    background-color: var(--c-addtexts);
    
    background-color: var(--c-addtexts);
}

#add_task{
    background-color: var(--c-addt);
    border: 0;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    color: var(--c-addtexts);
}

#add_section{
    background-color: var(--c-background);
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--c-adds);
    color: var(--c-adds);
}
.container>.uppermain{
    background-color: var(--c-background);
    padding: 1rem 5rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lowermain{
    margin-top: 2px;
    background-color: var(--c-background);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--c-text);
    padding-left: 2rem;
}

.lowermain>h2{
    padding-top: 0.5rem;
}
section{
    padding-top: 2rem;    
}

section>div{
    padding-bottom: 1rem;
   
}

.check{
    color: var(--c-check);
    margin-left: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid var(--c-check);
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 0.8rem;
}

.uncheck{
    color: var(--c-uncheck);
    margin-left: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid var(--c-uncheck);
    padding: 4px 7px;
    border-radius: 50%;
    font-size: 0.8rem;
}

.editorial{
    background-color: var(--c-editorial);
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 0.6rem;
    color: var(--c-background);
}

.q1{
    background-color: var(--c-q1);
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 0.6rem;
    color: var(--c-background);  
}

.recruiting{
    background-color: var(--c-recruiting);
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 0.6rem;
    color: var(--c-background);
}

.mobile{
    background-color: var(--c-mobile);
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 0.6rem;
    color: var(--c-background);
}

.website{
    background-color: var(--c-website);
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 0.6rem;
    color: var(--c-background);
}

.sales{
    background-color: var(--c-sales);
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 0.6rem;
    color: var(--c-background);
}
